[user]
	name = Ryan Van Duren
	email = fathashome@hotmail.com
[push]
	default = simple
[core]
	editor = /Applications/Sublime Text.app/Contents/SharedSupport/bin/subl
[color]
	ui = true
	stats = true
	status = true
[alias]
	logg = log --oneline --graph --decorate --all --abbrev-commit
