[user]
	name = Ryan Van Duren
	email = fathashome@hotmail.com
[push]
	default = simple
[color]
	ui = true
	stats = true
	status = true
[alias]
	logg = log --oneline --graph --decorate --all --abbrev-commit
